<h2> Products:  </h2> 

<div *ngFor = "let product of products"> 

    <h3> 
        <a [title]="product.name + ' on Kaspi.kz'" href="{{product.link}}"> {{product.name}} </a>
    </h3> 
   
    <p *ngIf="product.img && product.description"> 
            <img src="{{product.img}}"> 
            <em> Description: {{product.description}} </em> <br> 
            <em> Rating: {{product.rating}}/5.0   </em> 
            <button type="button" (click)="redirect(product.link)"> 
                Share
            </button>
    </p>
    
</div>
